# Selecting stars to be put through Ken and main grids
****

In [1]:
import pandas as pd

In [2]:
Directory = 'C:/Users/georg/Documents/GitHub/Iwan-and-George-Year-4-Project/Exoplanets/BASTA'
def ScreamExtractor(File, Sep):
    FILENAME = pd.read_csv(f'{Directory}/{File}', sep=Sep)
    return FILENAME

In [3]:
Output = ScreamExtractor('Output/Fulton/FultonResults.ascii', ' ')
Input = ScreamExtractor('Input/Fulton.txt', '\t')

In [4]:
Ken = []
BaSTI = []
for n in range(len(Output)):
    if Output['massfin'][n] >= 1.15:
        Ken.append(Output['starid'][n])
    elif str(Output['massfin'][n]) == 'nan':
        BaSTI.append(Output['starid'][n])

In [5]:
Ken

[2127771917075703424,
 2107266570672734592,
 2107342716152550272,
 2086505630781210752,
 2102119176929154304,
 2051738798233021824,
 2135590578620605568,
 2131859244171951616,
 2135002576119495936,
 2079005651508492032]

In [6]:
InputKen = pd.DataFrame()

In [7]:
Indexes = []
for l in range(len(Ken)):
    Line = Input.loc[Input['# starid'] == Ken[l]]
    Index = Line.index
    Indexes.append(Index[0])
    #InputKen = InputKen.append(Line, ignore_index=True)

In [8]:
#InputKen = InputKen.rename(columns={'# starid': 'starid'})

In [9]:
'''TempFile = open(f'{Directory}/Input/FultonKen.txt', 'w')
TempFile.write(InputKen.to_string())
TempFile.close()'''

"TempFile = open(f'{Directory}/Input/FultonKen.txt', 'w')\nTempFile.write(InputKen.to_string())\nTempFile.close()"

****

In [17]:
Kenny = ScreamExtractor('Output/Fulton/FultonKenResults.ascii', ' ')

In [18]:
Kenny

,starid,Teff,Teff_errp,Teff_errm,FeH,FeH_errp,FeH_errm,radPhot,radPhot_errp,radPhot_errm,...,age,age_errp,age_errm,numax,numax_errp,numax_errm,dnuscal,dnuscal_errp,dnuscal_errm,Unnamed: 22
0,2127771917075703424,5873.118762,58.743823,57.927502,0.364063,0.036523,0.040234,1.281809,0.336167,0.157281,...,4392.283800,1855.131062,2736.786356,2228.393251,655.384426,760.667581,101.872234,21.629729,28.317076,NaN
1,2107266570672734592,6121.532091,59.204307,52.236209,0.246680,0.035352,0.040430,1.328954,0.354837,0.166138,...,3291.570932,1320.425297,2004.508750,2067.394512,610.984182,702.832463,97.373121,20.864627,27.165480,NaN
2,2107342716152550272,6206.836401,55.751461,63.095265,0.171875,0.039063,0.038672,1.352349,0.346355,0.198785,...,3278.295411,1222.385355,2101.469099,1958.904500,706.705402,637.974093,94.250675,24.615263,25.250200,NaN
3,2086505630781210752,6217.019489,53.883423,64.107863,0.199609,0.041602,0.038867,1.357434,0.364189,0.188955,...,3056.568715,1165.214487,1882.118440,1968.047616,653.665748,654.157902,94.310217,22.826519,25.914690,NaN
4,2102119176929154304,6230.740037,48.680184,55.016594,0.133203,0.038672,0.035156,1.331388,0.340680,0.192340,...,3313.891256,1247.317899,2154.168484,1993.441094,712.309498,653.373248,95.902076,24.801097,25.775736,NaN
5,2051738798233021824,6277.283131,61.998531,48.912671,0.131055,0.040430,0.039062,1.330271,0.355160,0.171441,...,2986.751673,1108.006106,1798.480721,2005.773226,617.807691,666.651699,96.467810,21.613052,26.465838,NaN
6,2135590578620605568,6288.894605,66.141203,50.823425,0.170898,0.036523,0.039844,1.345723,0.377975,0.170340,...,2754.360125,1042.026706,1629.513752,1982.175796,585.790201,669.676042,95.373433,20.595580,26.802760,NaN
7,2131859244171951616,6310.601834,60.547063,55.562923,0.120703,0.040039,0.042969,1.332405,0.370587,0.165556,...,2854.141203,1059.509585,1694.323128,2000.204025,588.481034,680.419379,96.344334,20.597466,27.099462,NaN
8,2135002576119495936,6382.443330,59.326355,62.467994,0.207422,0.038672,0.039453,1.398889,0.383220,0.163979,...,2195.149275,685.501596,1343.002119,1941.883059,479.358108,652.893214,93.027656,17.248229,25.999409,NaN
9,2079005651508492032,6553.044934,61.140130,57.809459,0.053906,0.040234,0.033594,1.408341,0.394957,0.178246,...,2105.476548,618.207124,1253.036469,1840.222906,514.529536,625.560492,90.780210,18.827284,25.654252,NaN

In [19]:
Output = Output.drop(index=Indexes)

KeyError: '[150, 192, 200, 203, 206, 212, 213, 216, 221, 222] not found in axis'

In [ ]:
Final = Output.merge(Kenny, how='right')

In [ ]:
Final